In [2]:
import numpy as np
import pandas as pd

In [6]:
! pwd

/home/nyall/Desktop/HackReactor/SDC-RandR/pythonwork

In [3]:
reviews_data = pd.read_csv('data/reviews.csv')

In [4]:
characteristics_data = pd.read_csv('data/characteristics.csv')

In [7]:
characteristic_reviews_data = pd.read_csv('data/characteristic_reviews.csv')

In [8]:
reviews_photos_data = pd.read_csv('data/reviews_photos.csv')

In [14]:
reviews_data.head()

,id,product_id,rating,date,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness
0,1,1,5,1596080481467,This product was great!,I really did or did not like this product base...,True,False,funtime,first.last@gmail.com,NaN,8
1,2,1,4,1610178433963,This product was ok!,I really did not like this product solely beca...,False,False,mymainstreammother,first.last@gmail.com,NaN,2
2,3,2,4,1609325851021,I am liking these glasses,They are very dark. But that's good because I...,True,False,bigbrotherbenjamin,first.last@gmail.com,Glad you're enjoying the product!,5
3,4,2,4,1593628485253,They look good on me,I so stylish and just my aesthetic.,True,False,fashionperson,first.last@gmail.com,NaN,1
4,5,2,3,1615987717620,I'm enjoying wearing these shades,Comfortable and practical.,True,False,shortandsweeet,first.last@gmail.com,NaN,5

In [11]:
characteristics_data.head()

   id  product_id     name
0   1           1      Fit
1   2           1   Length
2   3           1  Comfort
3   4           1  Quality
4   5           2  Quality

In [13]:
characteristic_reviews_data.head()

   id  characteristic_id  review_id  value
0   1                  1          1      4
1   2                  2          1      3
2   3                  3          1      5
3   4                  4          1      4
4   5                  1          2      4

In [34]:
reviews_photos_data.head()
reviews_photos_data.tail()

              id  review_id                                                url
2742535  2742536    5774942  https://images.unsplash.com/photo-151353192634...
2742536  2742537    5774945  https://images.unsplash.com/photo-150108843004...
2742537  2742538    5774947  https://images.unsplash.com/photo-151149900818...
2742538  2742539    5774950  https://images.unsplash.com/photo-1544131750-2...
2742539  2742540    5774951  https://images.unsplash.com/photo-1553981834-a...

In [18]:
reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5774952 entries, 0 to 5774951
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   product_id      int64
 2   rating          int64
 3   date            int64
 4   summary         object
 5   body            object
 6   recommend       bool
 7   reported        bool
 8   reviewer_name   object
 9   reviewer_email  object
 10  response        object
 11  helpfulness     int64
dtypes: bool(2), int64(5), object(5)
memory usage: 451.6+ MB

In [29]:
characteristics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3347679 entries, 0 to 3347678
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   id          int64
 1   product_id  int64
 2   name        object
dtypes: int64(2), object(1)
memory usage: 76.6+ MB

In [31]:
characteristic_reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19327575 entries, 0 to 19327574
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   id                 int64
 1   characteristic_id  int64
 2   review_id          int64
 3   value              int64
dtypes: int64(4)
memory usage: 589.8 MB

In [33]:
reviews_photos_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2742540 entries, 0 to 2742539
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   id         int64
 1   review_id  int64
 2   url        object
dtypes: int64(2), object(1)
memory usage: 62.8+ MB

In [24]:
reviews_data.isnull().any()

id                False
product_id        False
rating            False
date              False
summary           False
body              False
recommend         False
reported          False
reviewer_name     False
reviewer_email    False
response           True
helpfulness       False
dtype: bool

In [25]:
characteristics_data.isnull().any()

id            False
product_id    False
name          False
dtype: bool

In [27]:
characteristic_reviews_data.isnull().any()

id                   False
characteristic_id    False
review_id            False
value                False
dtype: bool

In [28]:
reviews_photos_data.isnull().any()

id           False
review_id    False
url          False
dtype: bool